{% extends "layout.html" %}
{% block title %}Registrarse{% endblock %}
{% block content %}
<div class="card">
  <h2>Crear cuenta (Cliente)</h2>
  <form method="post">
    <label>Nombre</label>
    <input class="input" name="name" required>
    <label>Email</label>
    <input class="input" type="email" name="email" required>
    <label>Contraseña</label>
    <input class="input" type="password" name="password" required>
    <label>Gimnasio</label>
    <select name="tenant_id" required>
      <option value="" disabled selected>Seleccioná tu gimnasio</option>
      {% for t in tenants %}
        <option value="{{ t.id }}">{{ t.name }}</option>
      {% endfor %}
    </select>
    <button class="btn" type="submit">Registrarme</button>
  </form>
  <p>¿Sos dueña/o? <a href="/login">Iniciá sesión</a></p>
</div>
{% endblock %}
